#login-signup-form {
    margin-top: 60px;
    width: 25%;
    border:  1px solid;
    padding: 25px 40px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.07);
}

.form-control {
    margin-bottom: 10px;
}