.caption {
    position: relative;
}

.main-rating-number {
    position: absolute;
    right: 5%;
    bottom: 2%;
    display: inline;
}

#rating-form {
    width: 25%;
    border:  1px solid;
    padding: 25px 40px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.07);
}