<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <a style="color: blue;" href="<%= username ? '/userRatings?username=' + username : '/ratings' %>">Reviews</a>
    <a style="color: blue;" href="<%= username ? '/login?username=' + username : '/login' %>">Login</a>
    <a style="color: blue;" href="<%= username ? '/?username=' + username : '/' %>">Home</a>
    <form action="/signup" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Sign Up</button>
    </form>
    <% if(warning == 1) { %>
        <div class="alert">
            <strong>Username already exists</strong>
        </div>
    <% } %>
</body>
</html>